---
import type { CollectionEntry } from "astro:content";
import { readingTime } from "@lib/utils";

type Props = {
  entry: CollectionEntry<"blog"> | CollectionEntry<"projects"> | CollectionEntry<"reading">;
}

const { entry } = Astro.props;
---

<a href={entry.collection === "reading" ? entry.data.url : `/${entry.collection}/${entry.slug}`} class="relative group flex flex-nowrap py-3 px-4 pr-10 border border-terminal-border bg-terminal-panel/70 hover:border-terminal-accent transition-colors" >
  <div class="flex flex-col flex-1 truncate">
    <div class="font-semibold text-terminal-fg">
      {entry.data.title}
    </div>
    <div class="text-sm text-terminal-muted">
      {entry.collection === "reading" ? entry.data.author : entry.data.description}
    </div>
    <div class="text-xs text-terminal-muted/80 mt-1">
      {entry.collection === "reading" ?
        (entry.data.tags ? entry.data.tags.join(", ") : "") :
        readingTime(entry.body)
      }
    </div>
  </div>
  {entry.collection === "reading" ? (
    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24"
      class="absolute top-1/2 right-2 -translate-y-1/2 size-5 stroke-2 fill-none stroke-terminal-accent">
      <line x1="5" y1="12" x2="19" y2="12" class="translate-x-3 group-hover:translate-x-0 scale-x-0 group-hover:scale-x-100" />
      <polyline points="12 5 19 12 12 19" class="-translate-x-1 group-hover:translate-x-0" />
    </svg>
  ) : (
    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24"
      class="absolute top-1/2 right-2 -translate-y-1/2 size-5 stroke-2 fill-none stroke-terminal-accent">
      <line x1="5" y1="12" x2="19" y2="12" class="translate-x-3 group-hover:translate-x-0 scale-x-0 group-hover:scale-x-100" />
      <polyline points="12 5 19 12 12 19" class="-translate-x-1 group-hover:translate-x-0" />
    </svg>
  )}
</a>
