---
import Container from "@components/Container.astro";
import { SITE } from "@consts";
import BackToTop from "@components/BackToTop.astro";
import Newsletter from "@components/Newsletter.astro";
---

<footer>
  <Container>
    <div class="flex flex-col md:flex-row md:items-start justify-between w-full gap-4">
      <Newsletter />
      <BackToTop />
    </div>
    <div class="text-center pt-4">
      <div>
        &copy; 2026 {SITE.NAME}
      </div>
    </div>
  </Container>
</footer>
