---
import Container from "@components/Container.astro";
import Link from "@components/Link.astro";
import { SITE } from "@consts";
---

<header>
  <Container>
    <div class="flex flex-col md:flex-row gap-4 md:gap-0 md:justify-between items-center md:items-start">
      <Link href="/" underline={false}>
        <div class="font-semibold text-black text-xl">
          {SITE.NAME}
        </div>
      </Link>
      <nav class="flex gap-1 items-center">
        <Link href="/blog">
          blog
        </Link>
        <span>
          {`/`}
        </span>
        <Link href="/work">
          work
        </Link>
        <span>
          {`/`}
        </span>
        <Link href="/projects">
          projects
        </Link>
        <span>
          {`/`}
        </span>
        <Link href="/reading-list">
          reading
        </Link>
      </nav>
    </div>
  </Container>
</header>
